@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-ibm-plex-sans: "IBM Plex Sans", sans-serif;
  --font-bebas-neue: var(--bebas-neue);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-primary: #E7C9A5;
  --color-primary-admin: #25388C;

  --color-green: #027A48;
  --color-green-100: #ECFDF3;
  --color-green-400: #4C7B62;
  --color-green-500: #2CC171;
  --color-green-800: #027A48;

  --color-red: #EF3A4B;
  --color-red-400: #F46F70;
  --color-red-500: #E27233;
  --color-red-800: #EF3A4B;

  --color-blue-100: #0089F1;
  --color-blue-200: #3a4fae;

  --color-light-100: #D6E0FF;
  --color-light-300: #F8F8FF;
  --color-light-400: #EDF1F1;
  --color-light-500: #8D8D8D;
  --color-light-600: #F9FAFB;
  --color-light-700: #E2E8F0;
  --color-light-800: #F8FAFC;

  --color-dark-50: #64748B;
  --color-dark-100: #16191E;
  --color-dark-200: #3A354E;
  --color-dark-300: #232839;
  --color-dark-400: #1E293B;
  --color-dark-500: #0F172A;
  --color-dark-600: #333C5C;
  --color-dark-700: #464F6F;
  --color-dark-800: #1E2230;
  --color-dark-900: #020817;
  --color-dark-950: #1e1e2d;

  --color-gray-100: #CBD5E1;

  --color-gold100: #EED1AC;
  --color-gold200: #edae5b;
  --color-gold400: #b26e16;
  --color-gold500: #936F4A;
  --color-gold600: #996c32;
  --color-gold700: #8c6c2f;
  --color-gold800: #6F460F;

  --radius: 8px;

  /* radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-ibm-plex-sans;
  }
}

@layer utilities {
  .bg-pattern {
    background-image: url('/images/pattern.webp');
  }
}

.notfound {
  font-size: 5rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px white, 0 0 20px white;
  letter-spacing: 2px;
}

@media (max-width: 800px) {
  .notfound {
    font-size: 2.5rem;
  }
}

.notfound span {
  display: inline-block;
}

.disable {
  color: rgba(255, 255, 255, 0.52);
  text-shadow: 0 0 40px rgba(111, 104, 104, 48);
  filter: blur(1.5px);
}

.ghost {
  color: transparent;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
  animation: ghostfade 1s infinite alternate;
}

.blink {
  animation: softBlink 1s infinite ease-in-out;
}

@keyframes softBlink {

  0%,
  100% {
    opacity: 1;
    text-shadow:
      0 0 10px rgba(255, 255, 255, 0.7),
      0 0 20px rgba(255, 255, 255, 0.5);
  }

  50% {
    opacity: 0.9;
    text-shadow:
      0 0 4px rgba(255, 255, 255, 0.3);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px white;
  }

  100% {
    text-shadow: 0 0 20px white;
  }
}

@keyframes ghostfade {

  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.custom-cursor-pointer {
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.35) !important;
  background: rgba(0, 0, 0, 0.2) !important;
  cursor: url("/flash2.svg") 16 16, auto !important;
}

#nprogress .spinner {
  display: none !important;
}

@keyframes supportPop {
  0% {
    transform: translateY(50px) scale(0.6);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.animate-supportPop {
  animation: supportPop 0.45s ease-out forwards;
}

@keyframes openModal {
  0% {
    transform: scale(0.8) translateY(50px);
    opacity: 0;
  }

  60% {
    transform: scale(1.05) translateY(-10px);
    opacity: 1;
  }

  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes closeModal {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }

  100% {
    transform: scale(0.8) translateY(50px);
    opacity: 0;
  }
}

.animate-openModal {
  animation: openModal 0.5s ease-out forwards;
}

.animate-closeModal {
  animation: closeModal 0.4s ease-in forwards;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e6a551;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #be7e2b;
}

.custom-scrollbar1::-webkit-scrollbar {
  height: 7px;
}

.custom-scrollbar1::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 10px;
}

.custom-scrollbar1::-webkit-scrollbar-thumb {
  background: #eed1ac;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.06);
  transition: background .18s ease, box-shadow .18s ease, transform .12s ease;
  transform-origin: center;
}

.custom-scrollbar1:hover::-webkit-scrollbar-thumb,
.custom-scrollbar1::-webkit-scrollbar-thumb:hover {
  background: #e6a551;
}

.custom-scrollbar1::-webkit-scrollbar-thumb:active {
  background: #9a5f12;
  transform: scaleY(1.05);
}

.custom-scrollbar1 {
  scrollbar-width: thin;
  scrollbar-color: #be7e2b #e5e7eb;
}

.custom-scrollbar1:hover {
  scrollbar-color: #be7e2b #f3f4f6;
}

.dark .custom-scrollbar1::-webkit-scrollbar-thumb {
  background: #eed1ac !important;
}

.dark .custom-scrollbar1 {
  scrollbar-color: #eed1ac auto;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

.animate-slideUp {
  animation: slideUp 0.25s ease-out forwards;
}

.animate-slideDown {
  animation: slideDown 0.25s ease-in forwards;
}

.book-container {
  perspective: 2000px;
}

.page-left {
  width: 260px;
  height: 360px;
  background: #fffdf4;
  border: 2px solid #ffffff;
  border-right: none;
  border-radius: 12px 0 0 12px;
  padding: 20px;
  box-shadow:
    inset 15px 0 30px rgba(0, 0, 0, 0.1),
    0 4px 10px rgba(0, 0, 0, 0.2);
  transform: rotateY(30deg);
  transform-origin: right;
}

.page-right {
  width: 260px;
  height: 360px;
  background: #fffdf4;
  border: 2px solid #ffffff;
  border-left: none;
  border-radius: 0 12px 12px 0;
  padding: 20px;
  box-shadow:
    inset -15px 0 30px rgba(0, 0, 0, 0.1),
    0 4px 10px rgba(0, 0, 0, 0.2);
  transform: rotateY(-30deg);
  transform-origin: left;
}

.spine {
  width: 14px;
  height: 360px;
  background: linear-gradient(to right, #eaeaea, #ffffff, #eaeaea);
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {

  .page-left,
  .page-right {
    width: 160px;
    height: 220px;
    padding: 10px;
  }

  .spine {
    width: 8px;
    height: 220px;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Dark */
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: #10151f;
}

/* Light */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}

/* Admin Dark */
.dark.admin input:-webkit-autofill,
.dark.admin input:-webkit-autofill:hover,
.dark.admin input:-webkit-autofill:focus,
.dark.admin input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Admin Light */
.admin input:-webkit-autofill,
.admin input:-webkit-autofill:hover,
.admin input:-webkit-autofill:focus,
.admin input:-webkit-autofill:active {
  -webkit-text-fill-color: #111827;
}

.rpv-core__inner-page {
  background-color: transparent !important;
}

.rpv-core__inner-pages::-webkit-scrollbar {
  width: 5px;
}

.rpv-core__inner-pages::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 10px;
}

.rpv-core__inner-pages::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 10px;
}

.rpv-core__inner-pages::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

.dark .rpv-core__inner-pages::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.dark .rpv-core__inner-pages::-webkit-scrollbar-thumb {
  background: #d1d5db;
}

.dark .rpv-core__inner-pages::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.scroll-gray::-webkit-scrollbar {
  width: 0.5rem;
}

.scroll-gray::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-gray::-webkit-scrollbar-thumb {
  @apply dark:bg-[#D0D5DD] bg-[#667085];
}

.scroll-gray {
  scrollbar-width: thin;
  scrollbar-color: #667085 transparent;
}

.dark .scroll-gray {
  scrollbar-color: #D0D5DD transparent;
}